body{
  padding-top: 50px;
}

.carousel-image{
  width: 100%;
}

.hero-unit{
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.thumbnails img{
  width: 100%;
}

.gridStyles{
  width: 940px;
  height: 300px;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell{
  background: AliceBlue;
}
.ui-grid-row:nth-child(even) .ui-grid-cell{
  background:YellowGreen;
}

.modal-body .ng-valid{
    border: thin solid #090;
}
.modal-body .ng-invalid{
    border: thin solid #990000;
}
