<!DOCTYPE html>
<html ng-app = "cookieDemo">
  <head>
    <meta charset="utf-8" />
    <title>example 2.23</title>
  </head>
  <body ng-controller="mainCtrl">
    <h1>Cookie 서비스 사용</h1>
    <p>
      test 키로 저장된 값 : {{value}}
    </p>
    <button ng-click="getValue()">쿠키가져오기</button>
    <br />
    <input type='text' ng-model="iValue" /><button ng-click="putValue(iValue)">쿠키저장</button>
    <!--angular file-->
    <script src="../angular.js" type="text/javascript"></script>
    <script src="../angular-cookies.js" type="text/javascript"></script>
    <script type="text/javascript">

      angular.module('cookieDemo', ['ngCookies'])
        .controller("mainCtrl",['$scope','$cookies',function($scope, $cookies){

          $scope.value = ($cookies.test || "없음");
          $scope.getValue = function(){
            $scope.value = $cookies.test;
          };
          $scope.putValue = function(iV){
            $cookies.test = iV;
          }
        }]);

    </script>
  </body>
</html>
