<!DOCTYPE html>
<html ng-app = "myApp">
  <head>
    <meta charset="utf-8" />
    <title>example 2.17</title>
    <style type="text/css">
      .apple{
        background-color: red;
      }
      .lemon{
        background-color: yellow;
      }
      .even{
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div ng-init="fruitList = ['apple','banana','lemon','grape']">
      <ul>
        <li ng-repeat="fruit in fruitList" ng-class="'{{fruit}}'">
          {{fruit}}
        </li>
      </ul>
      <ul>
        <li ng-repeat="fruit in fruitList" ng-class="{'even': {{$index % 2 != 0}}}">
          {{fruit}}
        </li>
      </ul>
    </div>
    <!--angular file-->
    <script src="../angular.js" type="text/javascript"></script>
    <script type="text/javascript">

      var myApp = angular.module('myApp', []);

    </script>
  </body>
</html>
